@import url("https://fonts.googleapis.com/css2?family=Anton+SC&family=Manrope:wght@200..800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.app {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.link {
  text-decoration: none;
  color: black;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-group input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
}

.cards {
  width: 18rem;
  margin: auto;
  margin-top: 10px;
}

.main-content {
  width: 100%;
}